#navbar {
    height: 80px;
}

#navbar.active #navbar-items{
    height: calc(100vh);
    visibility: visible;
    overflow-y: auto;
}

#navbar.active .hamburger{
    border-top-color: transparent;
}

#navbar.active .hamburger::before{
    transform: rotate(135deg);
}

#navbar.active .hamburger::after{
    transform: rotate(-135deg);
    top: -0.4375rem;
}

#navbar-items{
    display: block;
    position: absolute;
    top: 4.7875rem;
    left: 0;
    background-color: #111;
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 1;
    transition: 0.5s;
    visibility: hidden;
    overflow-y: hidden;
}

#navbar-items a{
    padding: 1rem 0;
    margin-inline: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
    border-radius: 0;
}

.hamburger{
    border-top: 0.125rem solid;
    width: 1.25rem;
    padding-right: 20px;
}

.hamburger::before,
.hamburger::after{
    content: " ";
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    background-color: currentColor;
    margin-top: 0.3125rem;
    position: relative;
    transition: 0.3s;


}

.btn-menu{
    background:none;
    border: none;
    font: inherit;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    padding-block: 1rem;
    cursor: pointer;
}

/* Showcase */
#showcase-container{
    padding: 40px
}

/* Clients */
#client-container{
    grid-template-columns: repeat(2, 1fr);
}

.client{
    width: 50%;
    padding: 15px 0;
}

/* feature */
#features-container{
    grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2){
    margin: 15px 0;
}

/* product */
#product-container{
    flex-direction: column;
}

#product-containerYT{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
}

#items{
    width: 90%;
}

.item{
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Testimonial */
#testimonial{
    flex-direction: column;
    text-align: center;
 }

 #testmonials-container p{
    font-size: 12px;
 }

.testimonial .testimonial-image{
    flex-direction: column;
    /*height: 50px;*/
    font-size: 14px;
}

/* Gallery */

#gallery-container{
    grid-template-columns: 1fr;
}

footer{
    flex-direction: column;
    padding-left: 0px;
}

footer .boxs{
    text-align: center;
    width: 100%;
}