@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color:inherit;
}

.btn{
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #222;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover{
    cursor: pointer;
    background: #000;
}

.headline{
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */

#navbar{
    width: 100%;
    background: #111;
    color: #eee;
    height: 90px;
    position: fixed;
    transition: 0.4s;
    top: 0; /* At the top */
    z-index: 99;
    margin: auto; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 10%;
    opacity: 0;
}

/* Style the logo */
#navbar #logo {
    transition: 0.4s;
  }

.logo_sahaj{
    height: 90px;

}

.logo{
    font-size: 2rem;
    height: 80px;
    visibility: hidden;
}

#navbar-items{
    display: flex;
    list-style: none;
    text-transform: uppercase;
    top: 4.7875rem;
}

#navbar-items a:hover{
    color: #ffc34d;
}

#navbar-items li{
    padding: 10px;
}

.btn-menu{
    display: none;
}
/* Showcase */

#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('./images/showcase.jpg') no-repeat center center/cover;

    /*Overlay*/
    background-color: rgba(0,0,0,0.4);
    background-blend-mode: color;
}

#showcase-container{
    margin-top: 1%;
    text-align: center; 
}

#showcase-container h2{
    font-size: 2.5rem;
}

#showcase-container p{
    font-size: 1.2rem;
    padding: 2% 0;
}

#showcase-container a{
    text-decoration: none;
}

#showcase-logo{
    height: 100%;
}


/* Clientes */
#clients{
    width: 100%;
    background: #eee;
    color: #111;
    padding: 50px;
}

#client-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    padding: 15px;
}
.client{
    display: inline-block;
    width: 25%;
}

figcaption{
    font-size: 12px;
    text-align: center;
}

/*product*/
#product{
    width: 100%;
    padding: 50px;
}

#product-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-containerYT{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#items{
    width: 650px;
}

#items .item{
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
}

/* Depoimentos */
section.depoimentos{
    background-color: #333;
    padding: 40px 0;
}

section.depoimentos > h1 {
    text-align: center;
    font-size: 50px;
    color: #fff;
} 

.container-slider{
    overflow: hidden;
    padding: 40px 0;
    color: #fff;
    background-color: #333;
}

.container-slider-single{
    float:left;
    text-align: center;
    padding:15px;
    border-radius: 10px;
    color: #fff;
    background-color: #333;
}

.container-slider-single h3{
    font-size: 14px;
}

.container-slider-single .testimonial-image{
    height: 200px;
    width: auto;
    border-radius: 50%;
}

.container-slider-single p{
    margin: 15px 0;
    color: #a1a4a8;
    font-size: 14px;
}

.slick-slide{
    margin-left: 27px;
}
/* the parent */
.slick-list{
    margin-left: -27px;
}

/****SLICK SLIDER****/

.slick-dotted ul{
    display: block;
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #fff;
	border-width: 0;
	background: #fff;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #000;
	color: #000;
}

.slick-slide:focus { outline: none; }

/* Gallery */

#gallery{
    width: 90%;
    margin: auto;
    padding: 50px;
}

#gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.gallery-image{
    display: inline-block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* cta */
section.cta{
    background-color: #222;
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    min-height: 200px;
    text-align: center;
    color: white;
}

section.cta h2,
section.cta h4{
    font-weight: normal;
    margin: 10px 0;
}

section.cta h2{
    font-size: 40px;
}

section.cta a{
    display: inline-block;
    padding: 8px 15px;
    border-radius: 7px;
    font-weight: bold;
    background-color: #222;
    text-decoration: none;
    font-size: 17px;
    color: #ffc34d;
    border-color: #ffc34d;
    border: 1px solid;
}

section.cta a:hover{
    color: #222;
    background-color: #ffc34d;
}

.center{
    display: flex;
    max-width: 1100px;
    padding:0 2%;
    margin:0 auto;
    flex-wrap: wrap;
}

/* Contatos */
section.contato{
    margin-top: 60px;
    padding: 20px 0;
    /* padding-top: 100px; */
    text-align: center;
}

section.contato h1{
    font-size: 50px
}

section.contato form{
    width:100%;
}

.contato input[type=text],
.contato input[type=email]{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #fbfcfe;
    border: 1px solid #c3cce8;
    padding-left: 10px;
}

.contato textarea{
    width: 100%;
    height: 120px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #fbfcfe;
    border: 1px solid #c3cce8;
    padding-left: 10px;
    resize:vertical;
}

.contato input[type=submit]{
    width: 100%;
    height: 50px;
    display: block;
    cursor: pointer;
    border: 0;
    background: #b47c0d;
    color:white;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.contato input[type=submit]:hover{
    background: #99690a;
    color:white;
    font-weight: bold;
}

.contato input[type=text]:focus,
.contato input[type=email]:focus{
    border: 2px solid;
    border-color: #ffc34d !important;
}

.contato textarea:focus{
    border: 2px solid;
    border-color: #ffc34d !important;
}

input{
    outline: none;
  }

textarea{
    outline: none;
}
  
  .input_colorido{
    border: 2px solid #99690a;
  }

/* Footer */
footer{
    width: 100%;
    min-height: 150px;
    background-color: #444;
    display: flex;
    justify-content: center;
}

footer .boxs{
    width: 50%;
    min-height: 150px;
    padding: 20px;
    text-align: center;
     
}

.boxs h2{
    color:#fff;
    margin-bottom: 20px;
}

.boxs ul li{
    margin: 10px 0px;
    list-style: none;
    color: #fff;
}

.cnpj{
    width: 100%;
    color: #fff;
    background-color: #444;
    text-align: center;
    padding-bottom: 15px;
}